<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Demo</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link href="/css/appstyles.css" rel="stylesheet">
</head>
<body ng-app="app" id="page-top" ng-controller="LoginController as home" data-target=".navbar-static-top">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">REE Manager</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#information">Getting Started</a></li>
                <li class="dropdown" ng-show="home.authenticated">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Manage Systems List</a></li>
                        <li><a href="#">Manage Entries</a></li>
                        <li><a href="#">Manage Properties</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Import From Excel</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" ng-show="home.authenticated">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="home.authenticated">
                    <a ng-click="home.logout()">Logout</a>
                </li>
                <li class="dropdown active" ng-show="!home.authenticated">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                    <ul id="login-dp" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
<!--                                    Login via
                                    <div class="social-buttons">
                                        <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                    </div>
                                    or-->
                                    <div class="alert alert-danger" ng-show="error">
                                        There was a problem logging in. Please try again.
                                    </div>
                                    <form role="form" ng-submit="login()">
                                        <div class="form-group">
                                            <label class="sr-only" for="username">Username:</label>
                                            <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username" placeholder="User Name" required/>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="password">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password" placeholder="Password" required/>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> keep me logged-in
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="bottom text-center">
                                    Use your known User or contact and admin if you have no rights!
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<ng-view></ng-view>


<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript" src="/webjars/angularjs/angular-route.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
</body>
</html>